$header1: 6rem;
$header2: 3.5rem;
$header3: 2.5rem;
$header4: 2rem;
$header5: 1.5rem;
$header6: 1rem;

$primary_desaturated_red: hsl(0, 36%, 70%);
$primary_soft_Red: hsl(0, 93%, 68%);

$neutral_dark_grayish_red: hsl(0, 6%, 24%);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}
