@import "global";

main {
  padding: 10rem;
  @include flex(center, center, column);
  min-height: 100vh;
}

.apparel-container {
  width: 115%;
  min-height: 80vh;
  @include flex(center, center, row);
  background: url("../images/bg-pattern-desktop.svg");
  background-size: contain;
  box-shadow: 0px 10px 10px rgba(#000000, 0.2), 0px 20px 40px rgba(#000000, 0.2);

  .left-content {
    padding: 10rem;
    flex: 1;

    .heading {
      margin-top: 10rem;
      h1 {
        font-size: $header1;
        text-transform: uppercase;
        letter-spacing: 1rem;

        .upper-text {
          font-weight: lighter;
          color: $primary_desaturated_red;
        }
      }

      p {
        margin-top: 2rem;
        font-size: $header5;
        line-height: 3rem;
        color: $primary_desaturated_red;
      }
    }

    .sign-up {
      position: relative;
      margin-top: 5rem;
      input {
        width: 80%;
        padding: 2rem 2rem;
        border-radius: 3rem;
        border: 1px solid $primary_desaturated_red;
        outline: none;
        font-family: "Josefin Sans", sans-serif;
        color: $neutral_dark_grayish_red;
      }

      button {
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        box-shadow: 0px 10px 10px rgba(hsl(0, 93%, 68%), 0.2),
          0px 20px 40px rgba(#000000, 0.2);
        position: absolute;
        cursor: pointer;
        width: 120px;
        top: -5%;
        left: 70%;
        padding: 2rem 2rem;
        border: none;
        border-radius: 3rem;
      }

      button:hover {
        filter: brightness(120%);
      }
    }

    .error-text {
      margin-top: 2rem;
      margin-left: 2rem;
      font-size: 1.5rem;
    }
  }

  .right-content {
    .girl-image {
      img {
        content: url("../images/hero-desktop.jpg");
      }
    }
  }
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
}
.attribution a {
  color: $primary_soft_Red;
}

//Media Query
@media screen and (max-width: 768px) {
  main {
    @include flex(center, center, column);
    position: relative;
    padding: 0rem;
  }

  .apparel-container {
    margin-top: 10rem;
    flex-wrap: wrap-reverse;
    background: hsl(0, 69%, 97%);

    .left-content {
      br {
        display: none;
      }

      .logo {
        position: absolute;
        top: 2%;
        left: 10%;
        margin-top: 1rem;
      }

      .heading {
        text-align: center;
      }

      .sign-up {
        text-align: center;

        button {
          width: 90px;
        }
      }
    }

    .right-content {
      .girl-image {
        img {
          content: url("../images/hero-mobile.jpg");
          width: 100vw;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) {
  main {
    @include flex(center, center, column);
    position: relative;
    padding: 0rem;
  }

  .apparel-container {
    margin-top: 10rem;
    flex-wrap: wrap-reverse;
    background: hsl(0, 69%, 97%);

    .left-content {
      br {
        display: none;
      }

      .logo {
        position: absolute;
        top: 2%;
        left: 10%;
        margin-top: 1rem;
      }

      .heading {
        text-align: center;
      }

      .sign-up {
        text-align: center;

        button {
          width: 90px;
          left: 85%;
        }
      }
    }

    .right-content {
      .girl-image {
        img {
          content: url("../images/hero-mobile.jpg");
          width: 100vw;
          height: 100%;
        }
      }
    }
  }
}
